.title{
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #B94D86, 0 0 30px #B94D86, 0 0 40px #B94D86, 0 0 55px #B94D86, 0 0 75px #B94D86, 2px 2px 2px rgba(185,77,134,0.05);

}
